langchain
langchain-core
langchain-cli
langchain-community
langchain_chroma


langchain-openai
openai


langserve
fastapi
uvicorn
chromadb


pydantic
python-dotenv
beautifulsoup4
requests
youtube-transcript-api
pytube

requests_html
faster-whisper
yt-dlp
lxml_html_clean
playwright
sentence-transformers

 pydub
 