langchain
langchain-core
langchain-cli
langchain-community
langchain_chroma


langchain-openai
openai


langserve
fastapi
uvicorn
chromadb


pydantic
python-dotenv
beautifulsoup4
requests
sentence-transformers

